name: NPM Publish

on:
  workflow_run:
    workflows: ["Bump Version"]
    types: [completed]

permissions:
  id-token: write 


jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Version
        id: version
        run: "echo ::set-output name=version::$(echo ${{ github.ref_name }} | sed 's/^v//')"

      - uses: actions/checkout@v4
        with:
          ref: 'main'

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm install
      - run: npm ci
      - run: npm publish

      - name: Notify discord
        uses: th0th/notify-discord@v0.4.1
        if: ${{ always() }}
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_JOB_NAME: "Build and deploy"
          GITHUB_JOB_STATUS: ${{ job.status }}
