name: NPM Publish

on:
  workflow_run:
    workflows: ["bump"]
    types: [completed]

permissions:
  id-token: write 


jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Version
        id: version
        run: "echo ::set-output name=version::$(echo ${{ github.ref_name }} | sed 's/^v//')"

      - uses: actions/checkout@v4
        with:
          ref: 'main'

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm publish

      - name: Notify Discord
        uses: fateyan/action-discord-notifier@v1
        with:
          message-title:  church-year:${{ github.ref_name }} published to npm
          webhook: ${{ secrets.DISCORD }}
